In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error

In [ ]:
diabetes = datasets.load_diabetes()

In [ ]:
diabetes.keys()

dict_keys(['data', 'target', 'frame', 'DESCR', 'feature_names', 'data_filename', 'target_filename', 'data_module'])

In [ ]:
df = pd.DataFrame(diabetes['data'], columns = diabetes['feature_names'])
df

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641
...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018118,0.044485
439,0.041708,0.050680,-0.015906,0.017282,-0.037344,-0.013840,-0.024993,-0.011080,-0.046879,0.015491
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044528,-0.025930
441,-0.045472,-0.044642,-0.073030,-0.081414,0.083740,0.027809,0.173816,-0.039493,-0.004220,0.003064

In [ ]:
df.describe()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
count,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02
mean,-3.639623e-16,1.309912e-16,-8.013951e-16,1.289818e-16,-9.042540e-17,1.301121e-16,-4.563971e-16,3.863174e-16,-3.848103e-16,-3.398488e-16
std,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02
min,-1.072256e-01,-4.464164e-02,-9.027530e-02,-1.123996e-01,-1.267807e-01,-1.156131e-01,-1.023071e-01,-7.639450e-02,-1.260974e-01,-1.377672e-01
25%,-3.729927e-02,-4.464164e-02,-3.422907e-02,-3.665645e-02,-3.424784e-02,-3.035840e-02,-3.511716e-02,-3.949338e-02,-3.324879e-02,-3.317903e-02
50%,5.383060e-03,-4.464164e-02,-7.283766e-03,-5.670611e-03,-4.320866e-03,-3.819065e-03,-6.584468e-03,-2.592262e-03,-1.947634e-03,-1.077698e-03
75%,3.807591e-02,5.068012e-02,3.124802e-02,3.564384e-02,2.835801e-02,2.984439e-02,2.931150e-02,3.430886e-02,3.243323e-02,2.791705e-02
max,1.107267e-01,5.068012e-02,1.705552e-01,1.320442e-01,1.539137e-01,1.987880e-01,1.811791e-01,1.852344e-01,1.335990e-01,1.356118e-01

In [ ]:
df.count()

age    442
sex    442
bmi    442
bp     442
s1     442
s2     442
s3     442
s4     442
s5     442
s6     442
dtype: int64

In [ ]:
x = df
y = diabetes['target']
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size = 0.3)

In [ ]:
model = linear_model.LinearRegression()

In [ ]:
model.fit(x_train,y_train)
result = model.predict(x_test)

In [ ]:
result

array([133.97842785,  79.29838304, 134.5805027 ,  90.37072023,
        44.81088764, 183.71820806, 175.91129594, 168.3241372 ,
       180.77744513, 232.84478654, 256.41756744,  94.96504227,
       177.24509539, 163.8484842 , 179.10470453,  78.99660806,
        78.90778989, 118.12642682, 147.74386072, 156.35224143,
       171.19439565,  49.38031005, 161.70596984, 220.79664942,
       168.31114748, 192.48536482, 180.42370746, 157.32834108,
       122.61047431, 107.50357685, 212.05078053,  83.31418836,
       170.16049345,  36.01571804, 199.39132659, 143.84917426,
       116.86255899, 132.49618434, 144.38327287, 222.09199315,
        62.62198705,  44.13380897,  95.97188008,  73.67275813,
        81.54993551,  98.53054772, 129.0187123 , 165.42970261,
       202.79268608, 162.8434594 , 224.10100753, 254.76669416,
       131.16150562,  53.25800235, 146.35603492, 233.39178426,
       252.95144239,  81.51535292,  78.06667603, 114.2373487 ,
       137.10441717,  78.96054879, 109.57010961, 151.17869056,
       232.48695125, 171.71333743, 189.40815392,  92.25798316,
       259.72951495, 126.77282881, 186.45299528,  74.31666696,
       151.47372823, 208.92324418,  74.57875731, 191.60382348,
       190.18141807, 158.1634661 , 102.19430972, 197.00081404,
       124.26427986, 160.79144645, 193.74206854, 193.33310382,
       113.58559566, 278.94773439,  45.97231211, 185.37051955,
       112.73706536, 114.62840346, 211.7178748 ,  47.08048629,
       177.75917418, 185.36889761, 131.60150923, 179.33205494,
       111.64125995,  78.03409165,  91.99413577, 158.82887129,
       148.38494283, 140.34840247,  77.43197738, 131.24076066,
       200.01899689,  99.22402505, 112.62434966, 226.31998888,
       244.81515768,  79.8479761 , 230.37713182,  62.67455287,
       108.99162541, 118.48535129, 208.88213657, 112.14286304,
       109.40583008,  96.66746624, 182.73989685, 152.68181331,
       204.42475988, 167.76027804,  50.3047305 , 116.04074162,
        70.45379582, 244.87285871, 258.22684493, 232.68967502,
       258.90771837,  77.61252258, 151.33954152, 225.02648128,
       200.30941584])

In [ ]:
from sklearn.model_selection import cross_val_score    #importing 
scores = cross_val_score(model,x,y,scoring="neg_mean_squared_error")  
rmse_scores=np.sqrt(-scores).mean()    #calculating  root mean sq. of the resulted scores of array 
rmse_scores

54.69171350506142

In [ ]:
model.score(x_test,y_test)

0.5505938350180618